.header {
    grid-area: h;
    background-color: rgb(183, 204, 183);
}

.img {
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
}

.img img {
    width: 100px;
    height: auto;
}