.navbar {
    grid-area: n;
    background-color: grey;
}

.item {
    margin-bottom: 10px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

a.activeLink {
    color: red !important;
}